@media (max-width:376px){
    .container{
        max-width: 375px;
        grid: 
        "logo"
        "ilustration"
        "conteudo"
        "social";
        background: url('../images/bg-mobile.svg') no-repeat;
    }

    .container .logo{
        margin-top: 25px;
        margin-left: 25px;
    }

    .container .ilustration{
        width: 90%;
        margin: 20px auto;
    }

    .container .conteudo h1{
        font-size: 24px;
        text-align: center;
        margin-top: 20px;
    }

    .container .conteudo p{
        font-size: 16px;
        text-align: center;
    }

    .container .conteudo .btn{
        height: 35px;
    }

    .container .social{
        margin: 0 auto;
    }

    .container .social i{
        margin: 45px 8px;
        font-size: 13px;
        width: 35px;
    }
}